<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.project3.IDAO.BoardDao">
<sql id="conditional">
<where>
	<choose>
		<when test='searchOpt eq "id"'>
		id like '%'||#{searchWord}||'%'
		</when>
		<when test='searchOpt eq "title"'>
		title like '%'||#{searchWord}||'%'
		</when>
		<when test='searchOpt eq "all"'>
		title like '%'||#{searchWord}||'%' 
		OR id like '%'||#{searchWord}||'%'
		</when>
	</choose>
</where>
</sql>
	<select id="detailRead" parameterType="int"
		resultType="com.care.project3.DTO.FreeBoard">
		SELECT * FROM FREEBOARD
		WHERE NO=#{no}
	</select>
	<select id="selectBoard" parameterType="Map" resultType="com.care.project3.DTO.FreeBoard">
		select * from FREEBOARD ORDER BY 1 DESC
	</select>

	<select id="selectBoardCnt" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM FREEBOARD
	</select>
	
	<insert id="writeProc" parameterType="com.care.project3.DTO.FreeBoard">
		INSERT INTO FREEBOARD
		(NO, NICKNAME, TITLE, CONTENTS, WRITE_DATE)
			VALUES (FREEBOARD_SEQ.NEXTVAL, #{nickname}, #{title}, #{contents}, sysdate)
	</insert>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM FREEBOARD WHERE NO=#{no}
	</delete>
</mapper>


	











